In [2]:
#Import dependencies
import pandas as pd

In [8]:
#Read csv file
cities_df = pd.read_csv('../Resources/cities.csv')
cities_df = cities_df.drop(columns=['Unnamed: 0'])

In [10]:
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,severo-kurilsk,50.68,156.12,49.39,62.0,9.0,10.36,RU,06/27/20
1,bredasdorp,-34.53,20.04,59.00,87.0,53.0,21.92,ZA,06/27/20
2,albany,42.60,-73.97,66.00,74.0,95.0,3.89,US,06/27/20
3,rikitea,-23.12,-134.97,72.21,79.0,15.0,13.18,PF,06/27/20
4,kruisfontein,-34.00,24.73,67.73,31.0,0.0,15.21,ZA,06/27/20

In [14]:
cities_df.to_html('../data.html')